body {
  padding: 25px 50px 25px 50px;
}
.app {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 20px;
  max-width: 600px;
  border-radius: 10px;
}

h1 {
  margin: 20px 0px 5px 0px;
  padding: 0px;
  font-size: 20px;
  opacity: 0.6;
}

h2 {
  padding: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.deg {
  font-size: 60px;
}

.link {
  font-size: 20px;
  text-align: center;
  display: block;
}

.col-2 {
  text-align: center;
  margin-top: 20px;
}

.min {
  opacity: 0.5;
}

.weather-day {
  opacity: 0.2;
}
